<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNvjzefef-97XvxPc37UFbeQWIk7sh-9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>737366060428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.academy.dashboard</string>
	<key>PROJECT_ID</key>
	<string>dashboard-8uy8j1</string>
	<key>STORAGE_BUCKET</key>
	<string>dashboard-8uy8j1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737366060428:ios:ef347a04257c3dd6997aa9</string>
	<key>DATABASE_URL</key>
	<string>https://dashboard-8uy8j1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>